#header{
    // position: relative;
   
    position: fixed;
    font-family: Arial;
    z-index: 5;
    width: 100%;
    color:#fff;

    .topbar{
        background:none;
        li{
            padding: 1px;
            a{
                text-decoration: none;
                color: rgb(54, 47, 47);
                box-sizing: border-box;
                margin: 7px;
                padding: 10px;
            }
            i{
                color: rgb(70, 60, 60);
            }
        }
    }
    .menu{
        border-top:0.5px solid #c4c0c0;
        border-bottom:0.5px solid #d1cdcd;
        padding: 8px 0;           
        nav{
            margin-left: 15px;
        }
        .logo img{
            background: #7a7474;
        }
        li{
            padding: 5px;
            a{
                box-sizing: border-box;
                text-decoration: none;
                color: rgb(151, 140, 140);
                margin: 10px;
            }
        }

    }
    .head-ico{
        ul{
            i{
                color:rgb(168, 154, 154);
                margin: 0 5px;
                &:last-child{
                margin-left: 10px;

                }

            }

        }

    }
}
.slider{
   width: 100%;
    min-height: 100%;
    background: no-repeat center center scroll;
    background-size: cover;
    position: relative;
    .carousel-caption{
        bottom: 270px;
    }
    .carousel-caption h5{
        margin: 50px;

    }
    .carousel-caption p{
        margin: 30px;

    }



}
.cros{
    width: 100%;
}